.App {
  text-align: center;
}
.Container {
  height: 100%;
  vertical-align: middle;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.userButtonGroup {
  justify-content: center;
  display: flex;
}

.usersName {
  text-align: center;
  margin-bottom: 0;
}

.AboutImages {
  width: 100%;
  height: 100vh;
}

.ProfilePicture {
height: fit-content;
}

.teamCard {
  padding: 10px;
}

.nav-item {
  color: white;
}

.aboutCarousel {
  height: 92vh;
  width: 100%;
  /* overflow:hidden; */
}

.aboutCarousel .carousel-inner {
  height:100%;
    
}

.modalProfilePicture{
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 0px;
}

.modalHeader {
  text-align: center;
  width: 100%;
}
.Jumbotron {
  padding: 20px;
}

.aboutTable {
  padding: 20px;
  margin-bottom: 20px;
}

.aboutCriteria {
  font-size: x-large;
}

.mission {
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  padding: 15px;
}


.criteria {
  text-align: center;
}

.companyLinks {
  color: black;
}

.bioParagraph {
  font-size: large;
}


h1 {
  color: black;
  font-weight: 700;
  margin-bottom: 15px;
}

h2 {
  color: #0061A6;
  font-weight: 700;
}

h3 {
  color: #020202;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin-top: 5px;
}

h4 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: larger;
  color: #282c34;
}

.cardButton {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: whitesmoke;
  font-weight: 600;
  width: inherit;
}

a {
  color: whitesmoke;
  font-weight: 600;
}

p {
  text-align: left;
  font-size: x-large;
  padding: 5px;
}

ol li {
  margin-top: 15px;
  text-align: left;
  vertical-align: text-top;
  padding: 5px;
  list-style-type: none;
  font-size: larger;
}

#about {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
